body{
    padding: 0;
    margin: 0;
    background-color: #d6dae5;
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
.linglee{
    background-color: #fefefe;
    width: 70vw;
    height: 85vh;
    display: flex;
    align-items: center;
    justify-content: center;
}
.part1{
    width: 25vw;
    height: 85vh;
    display: flex;
    align-items: center;
    justify-content: center;
}
.part2{
    width: 42vw;
    height: 85vh;
    background-color: #f5f6fb;
    display: flex;
    border-left: 0.5px solid #f5f6fb;
    border-right: 0.5px solid #f5f6fb;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
}
.div1{
    width: 37.5vw;
    height: 17vh;
    margin-top: 9vh;
    margin-left: 1.4vw;
    margin-right: 1vw;
    border-radius: 10px;
    background-color: #f8e5e9;
}
.div2{
    width: 15vw;
    height: 40vh;
    background-color:#fdfdfd;
    margin-top: 0vh;
    margin-left: 1.4vw;
    margin-right: 1.5vw;
    border-radius: 10px;
}
.div3{
    width: 21vw;
    height: 40vh;
    background-color:#fdfdfd;
    margin-top: -43.1vh;
    margin-left: 18vw;
    margin-right: 1.5vw;
    border-radius: 10px;
}
.div4{
    width: 12vw;
    height: 7.2vh;
    background-color:#4b4bab;
    margin-left: 1.4vw;
    margin-right: 0vw;
    border-radius: 10px;
}
.div5{
    width: 12vw;
    height: 7.2vh;
    background-color:#9697d7;
    margin-left: 0.9vw;
    margin-right: 0vw;
    border-radius: 10px;
}
.div6{
    width: 12vw;
    height: 7.2vh;
    background-color:#ff808b;
    margin-left: 1vw;
    margin-right: 1vw;
    border-radius: 10px;
}
.part3{
    width: 33vw;
    height: 85vh;
    display: flex;
    align-items: center;
    justify-content: center;
}